<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

## Exercise 1

In [17]:
import numpy as np
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]
T_celsius = np.array(temperatures_celsius)
T_fahrenheit = T_celsius*9/5+32
for index, T_Celsius in enumerate(T_celsius):
    T_Fahrenheit = T_fahrenheit[index]
    print(f"{T_Celsius}, {T_Fahrenheit}")

0, 32.0
5, 41.0
10, 50.0
15, 59.0
20, 68.0
25, 77.0
30, 86.0
35, 95.0
40, 104.0
45, 113.0
50, 122.0

## Exercise 2

In [33]:
for letter in ['A', 'B', 'C']: #arrange in column
    for number in [1, 2, 3]:  #arrange in row
        print(f'{letter}{number}', end = '\t') #\t is to format - provide space for row & turn column to row
    print('\n') #\n is to format - provide space for column

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [227]:
for i in range(1, 6):
    print(f'{i} : ', end='')
    for j in range(1, 6):
        print(f'{i*j:<4}', end = '') 
    print('')

# \n is to start a new line
# use f string to align (fundamentals good)
# need to use first column to build on the rest by multiplication e.g 1*1, 1*2; 
# so need to make the first column number using i & range
# then create a loop inside, then multiply

1 : 1   2   3   4   5
2 : 2   4   6   8   10
3 : 3   6   9   12  15
4 : 4   8   12  16  20
5 : 5   10  15  20  25

In [159]:
#dumb method
for letter in [ '1 :',' 1', '2', '3', '4', '5']:
    print(f'{letter}', end='\t')
print('\n')
for letter in [ '2 :',' 2', '4', '6', '8', '10']:
    print(f'{letter}', end='\t')
print('\n')
for letter in [ '3 :',' 3', '6', '9', '12', '15']:
    print(f'{letter}', end='\t')
print('\n')
for letter in [ '4 :',' 4', '8', '12', '16', '20']:
    print(f'{letter}', end='\t')
print('\n')
for letter in [ '5 :',' 5', '10', '15', '20', '25']:
    print(f'{letter}', end='\t')
print('\n')

1 :	 1	2	3	4	5

2 :	 2	4	6	8	10

3 :	 3	6	9	12	15

4 :	 4	8	12	16	20

5 :	 5	10	15	20	25

## Exercise 3

In [76]:
import numpy as np
for i in range(1,11):
    array = np.random.rand(10) #this must be in the loop; if on the outside will only
                               #replicate the result for 10 times
    sum = np.sum(array > 0.5)
    print(f'Experiment {i:>2}: No. of Heads = {sum}')

Experiment  1: No. of Heads = 5
Experiment  2: No. of Heads = 4
Experiment  3: No. of Heads = 4
Experiment  4: No. of Heads = 6
Experiment  5: No. of Heads = 5
Experiment  6: No. of Heads = 7
Experiment  7: No. of Heads = 4
Experiment  8: No. of Heads = 4
Experiment  9: No. of Heads = 4
Experiment 10: No. of Heads = 3